html
    head
        block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        title= `Car World | ${title}`  

    body 

        main.main
            .login-form
                h2.heading-secondary.ma-bt-lg Create a new account
                form.signup-form.form--login
                    .form__group
                        label.form__label(for='name') Name 
                        input#name.form__input(type='text', placeholder='John Doe', required='required', value='test 3')
                    .form__group
                        label.form__label(for='email') Email address 
                        input#email.form__input(type='email', placeholder='you@example.com', required='required', value='test3@gmail.com')
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password 
                        input#password.form__input(type='password', placeholder='••••••••', value='pass1234', required='required', minlength='8')
                    .form__group.ma-bt-md
                        label.form__label(for='confirm-password') Confirm Password 
                        input#confirm-password.form__input(type='password', placeholder='••••••••', value='pass1234', required='required', minlength='8')
                    .form__group
                        button.btn.btn--green Signup

        include _footer
